node_modules
divagar.it/.vs/RestaurantManagement/FileContentIndex/129dcfec-4998-4a0d-96d9-4f427c92070c.vsidx
/divagar.it/.vs
/divagar.it/.vs/RestaurantManagement
/divagar.it/RestaurantManagement/obj
/divagar.it/RestaurantManagement/obj
/divagar.it/RestaurantManagement/obj
/divagar.it/RestaurantManagement/obj/Release/net6.0
