    @model RestaurantManagement.Models.Stripe.BookingViewModel

@{
    ViewData["Title"] = "Booking Confirmed";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> divagar</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row mt-2">
            <div class="col-12" style="background-color:#FDFBF7;text-align:center;">
                <p>Booking Successfully...!</p>
                <a href="/" class="btn btn-primary mt-3">Back to Home</a>
            </div>
        </div>
    </div>

</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>